/* Font from:  https://www.dafont.com/coffee-spark.font */
@font-face {
    font-family: 'cartoon';
    src: URL('/Coffee-Spark.ttf') format('truetype');
}

.cartoon {
    font-family: 'cartoon';
}

@font-face {
    font-family: 'school';
    src: URL('/school.ttf') format('truetype');
}

.school {
    font-family: 'school';
}